html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: url("/assets/bg-tile.png") repeat;
  background-size: 512px 512px;
}

#app {
  position: fixed;
  inset: 0;
  display: block;
}

#app canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

canvas {
  display: block;
}
